# Version 1

In [1]:
import pandas as pd
import sqlite3
import os

# Define the file and path
fileName1 = '20090919071137.csv'
path = './Geolife_Trajectories_1.3/Data/120/Trajectory/'
FileIdentification1 = os.path.join(path, fileName1)

# Connect to SQLite database (or create it if it doesn't exist)
con = sqlite3.connect('geolife.db')  # connection to database established
cur = con.cursor()

# Read CSV file and directly load it into the SQLite database
# The table name is set as 'Points_User120_Table1'
# if_exists='replace' will drop the table if it exists and create a new one.
# Adjust if_exists as needed: 'append' to add to an existing table, 'fail' to do nothing if the table exists.
# index=False ensures that pandas does not insert its own index into the SQLite table.
pd.read_csv(FileIdentification1).to_sql('Points_User120_Table1', con, if_exists='replace', index=False)  # Corrected 'conn' to 'con'

# Example query to print all data from Points_User120_Table1
print('Query 1')
print('List all data in Points_User120_Table1')
print("Query 1 Results")
cur.execute('SELECT * FROM Points_User120_Table1 LIMIT 10')
for record in cur.fetchall():  # Use fetchall() to retrieve all records
    print(record)
print('')

Query 1
List all data in Points_User120_Table1
Query 1 Results
(0, 39.98238, 116.3204483, 0, 0, 40075.299861111096, '2009-09-19', '07:11:48')
(1, 39.98238, 116.32045490000002, 0, 0, 40075.2998842593, '2009-09-19', '07:11:50')
(2, 39.9823966, 116.32045490000002, 0, 0, 40075.2999074074, '2009-09-19', '07:11:52')
(3, 39.982425, 116.32045990000002, 0, 0, 40075.2999305556, '2009-09-19', '07:11:54')
(4, 39.9824583, 116.3204633, 0, 0, 40075.2999537037, '2009-09-19', '07:11:56')
(5, 39.9825033, 116.3204466, 0, 0, 40075.2999768518, '2009-09-19', '07:11:58')
(6, 39.98251, 116.3204183, 0, 0, 40075.3, '2009-09-19', '07:12:00')
(7, 39.982525, 116.320375, 0, 0, 40075.3000231481, '2009-09-19', '07:12:02')
(8, 39.9825466, 116.3203416, 0, 0, 40075.300046296295, '2009-09-19', '07:12:04')
(9, 39.9825699, 116.3202916, 0, 0, 40075.3000694444, '2009-09-19', '07:12:06')

In [2]:
# Example query to print all data from Points_User120_Table1
Points_User120 = pd.read_sql("SELECT * FROM Points_User120_Table1 LIMIT 10", con)
Points_User120

# Close the database connection
con.close()

Points_User120

,Order,Latitude,Longitude,Unused,Altitude,Days,Date,Time
0,0,39.982380,116.320448,0,0,40075.299861,2009-09-19,07:11:48
1,1,39.982380,116.320455,0,0,40075.299884,2009-09-19,07:11:50
2,2,39.982397,116.320455,0,0,40075.299907,2009-09-19,07:11:52
3,3,39.982425,116.320460,0,0,40075.299931,2009-09-19,07:11:54
4,4,39.982458,116.320463,0,0,40075.299954,2009-09-19,07:11:56
5,5,39.982503,116.320447,0,0,40075.299977,2009-09-19,07:11:58
6,6,39.982510,116.320418,0,0,40075.300000,2009-09-19,07:12:00
7,7,39.982525,116.320375,0,0,40075.300023,2009-09-19,07:12:02
8,8,39.982547,116.320342,0,0,40075.300046,2009-09-19,07:12:04
9,9,39.982570,116.320292,0,0,40075.300069,2009-09-19,07:12:06

# Version 2 for extra credit


import pandas as pd
import sqlite3

# File and path setup
fileName1 = '20090919071137.csv'
path = './Geolife_Trajectories_1.3/data/120/Trajectory/'
FileIdentification1 = path + fileName1

# Read CSV file into DataFrame
Points_User120_File1 = pd.read_csv(FileIdentification1)

# Connect to SQLite database (or create it if it doesn't exist)
conn = sqlite3.connect('geolife.db')

# Create a table (adjust the schema based on your CSV structure)
# This is a generic command; you need to adjust the column names and data types
conn.execute('''
CREATE TABLE IF NOT EXISTS User120_Trajectory (
    column1 TEXT,
    column2 TEXT,
    -- Define all necessary columns with appropriate data types
);
''')

# Import data from DataFrame into SQLite table
Points_User120_File1.to_sql('User120_Trajectory', conn, if_exists='append', index=False)

# Close the database connection
conn.close()

In [ ]:
import pandas as pd
import sqlite3
import os

fileName1 = '20090919071137.csv' 
path = './Geolife_Trajectories_1.3/Data/120/Trajectory/' 
FileIdentification1 = os.path.join(path, fileName1)

# Read the CSV file into a DataFrame
Points_User120_File1 = pd.read_csv(FileIdentification1)
Points_User120_File1 = Points_User120_File1.drop(columns=['Order', 'Unused'])

conn = sqlite3.connect('geolife.db')

conn.execute("""
CREATE TABLE IF NOT EXISTS User120_Trajectory (
    Latitude REAL,
    Longitude REAL,
    Unused INTEGER,
    Altitude INTEGER,
    Days TEXT,
    Date TEXT,
    Time TEXT
)
""")

cur = conn.cursor()

Points_User120_File1.to_sql('User120_Trajectory', conn, if_exists='append', index=False)

conn.close()